.content {
  flex: 1;
  display: flex;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
  article {
    // padding-left: 6rem;
    // padding-right: 6rem;
    // @media only screen and (max-width: 768px) {
    //   padding-left: 1rem;
    //   padding-right: 1rem;
    // }
    header {
      margin-top: 6.4rem;
      margin-bottom: 3.2rem;
      h1 {
        font-size: 4.2rem;
        line-height: 4.6rem;
        margin: 0;
        @media only screen and (max-width: 768px) {
          font-size: 4rem;
          line-height: 4.4rem;
        }
      }
    }
    footer {
      margin-top: 4rem;
      .see-also {
        margin: 3.2rem 0;
        h3 {
          margin: 3.2rem 0;
        }
      }
    }
    p {
      text-align: left;
      text-justify: auto;
      // hyphens: auto;
    }
  }
  .post {
    .post-title {
      margin-bottom: 0.75em;
    }
    .post-meta {
      i {
        text-align: center;
        width: 1.6rem;
        margin-left: 0;
        margin-right: 0.5rem;
      }
      .date {
        font-family: $heading-font-family;
        font-weight: 400;
        font-size: 0.9em;
        .posted-on {
          margin-left: 0;
          margin-right: 1.5rem;
          vertical-align: middle !important;
        }
        .reading-time {
          vertical-align: middle !important;
        }
        @media only screen and (max-width: 768px) {
          font-size: 0.9em;
          margin-top: 25px;
          .posted-on {
            display: block;
          }
          .reading-time {
            display: block;
          }
        }
      }
      .live-link,
      .source-code {
        font-family: $heading-font-family;
        font-weight: 300;
        font-size: 0.9em;
        display: block;
        @media only screen and (max-width: 768px) {
          font-size: 0.9em;
        }
      }
    }
  }
  figure {
    margin: 0;
    padding: 0;
  }
  figcaption p {
    text-align: center;
    font-style: italic;
    font-size: 1.6rem;
    margin: 0;
  }
}

.avatar img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  object-fit: cover;
  @media only screen and (max-width: 768px) {
    width: 20rem;
    height: 20rem;
  }
}

.list {
  ul {
    margin: 3.2rem 0 1.2rem 0;
    list-style: none;
    padding: 0;
    // display: table-row;
    display: grid;
    grid-template-columns: 50% 50%;
    @media only screen and (max-width: 768px) {
      grid-template-columns: 100% !important;
    }
    li {
      font-size: 1.8rem;
      font-family: $heading-font-family;
      margin-bottom: 3rem;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      &.project {
        // width: 45%;
        float: left;
        @media only screen and (max-width: 768px) {
          margin: 1.6rem 0 1.6rem 0 !important;
          width: 100% !important;
        }
      }
      &:hover .proj-cover {
        transform: scale(1.08);
      }
      .proj-cover {
        z-index: -1;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        transition: transform 0.2s;
      }
      .proj-info {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 10px;
        margin-top: -40px;
        margin-left: 18px;
        padding: 10px;
        width: 100%;
        @media only screen and (max-width: 768px) {
          width: auto;
        }
        z-index: 2;
        position: relative;
      }
      .date {
        display: inline-block;
        width: 100%;
        text-align: left;
        margin-right: 3rem;
        font-size: 1.7rem;
        @media only screen and (max-width: 768px) {
          display: block;
          text-align: left;
        }
      }
      .title {
        font-size: 2.1rem;
        // color: $fg-color;
        font-weight: 700;
        display: inline-block;
        line-height: initial;
        &:hover,
        &:focus {
          color: $link-color;
        }
      }
    }
  }
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  .about {
    text-align: center;
    h1 {
      margin-top: 2rem;
      margin-bottom: 0.5rem;
      color: white;
    }
    h2 {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      font-size: 2.4rem;
      color: white;
      @media only screen and (max-width: 768px) {
        font-size: 2rem;
      }
    }
    ul {
      list-style: none;
      margin: 3rem 0 1rem 0;
      padding: 0;
      li {
        display: inline-block;
        position: relative;
        a {
          color: $fg-color;
          text-transform: uppercase;
          margin-left: 1rem;
          margin-right: 1rem;
          font-size: 1.6rem;
          color: white;
          // &:hover,
          // &:focus {
          //   color: $link-color;
          // }
          @media only screen and (max-width: 768px) {
            font-size: 1.4rem;
          }
          i {
            font-size: 3.2rem;
          }
        }
      }
    }
  }

  .error {
    text-align: center;
    h1 {
      margin-top: 2rem;
      margin-bottom: 0.5rem;
      font-size: 4.6rem;
      @media only screen and (max-width: 768px) {
        font-size: 3.2rem;
      }
    }
    h2 {
      margin-top: 2rem;
      margin-bottom: 3.2rem;
      font-size: 3.2rem;
      @media only screen and (max-width: 768px) {
        font-size: 2.8rem;
      }
    }
  }
}
