.pagination {
  margin-top: 6.0rem;
  text-align: center;
  font-family: $heading-font-family;
  li {
    display: inline;
    text-align: center;
    font-weight: 700;
    span {
      margin: 0;
      text-align: center;
      width: 3.2rem;
      // &:after {
      //   content:"";
      //   background-color: rgb(62, 174, 218);
      //   opacity: 50%;
      //   border-radius: 50%;
      //   width: 3.2rem;
      //   height: 3.2rem;
      //   position: absolute;
      //   text-align: center;
      //   margin-left: -2.1rem;
      //   margin-top: 0.2rem;
      //   mix-blend-mode: multiply;
      // }
    }
    a {
      span {
        margin: 0;
        text-align: center;
        width: 3.2rem;
      }
    }
  }
}
